<a href="https://colab.research.google.com/github/dohyeonkim2526/BigContest/blob/master/BigCon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
import os
import numpy as np
import pandas as pd

base_dir='/content/gdrive/My Drive/빅데이터 공모전/빅콘테스트 데이터/제공데이터'
sales_data='19년도-실적데이터.xlsx'
sales_dir=os.path.join(base_dir, sales_data)

base_dir_2='/content/gdrive/My Drive/빅데이터 공모전/빅콘테스트 데이터/평가데이터'
pred_data='20년6월-실적예측데이터.xlsx'
pred_dir=os.path.join(base_dir_2, pred_data)

# [예측 데이터]

In [ ]:
df_preds=pd.read_excel(pred_dir,header=1)
df_preds  # 예측 상품 데이터프레임

                    방송일시      노출(분)    마더코드  ...  상품군   판매단가 취급액
0    2020-06-01 06:20:00  20.000000  100650  ...   의류  59800 NaN
1    2020-06-01 06:40:00  20.000000  100650  ...   의류  59800 NaN
2    2020-06-01 07:00:00  20.000000  100650  ...   의류  59800 NaN
3    2020-06-01 07:20:00  20.000000  100445  ...   속옷  69900 NaN
4    2020-06-01 07:40:00  20.000000  100445  ...   속옷  69900 NaN
...                  ...        ...     ...  ...  ...    ...  ..
2886 2020-07-01 00:20:00  20.000000  100660  ...   무형      0 NaN
2887 2020-07-01 00:40:00  20.000000  100660  ...   무형      0 NaN
2888 2020-07-01 01:00:00  20.000000  100660  ...   무형      0 NaN
2889 2020-07-01 01:20:00  20.000000  100261  ...   의류  69900 NaN
2890 2020-07-01 01:40:00  15.933333  100261  ...   의류  69900 NaN

[2891 rows x 8 columns]

In [ ]:
df_preds=df_preds.drop(df_preds[(df_preds['판매단가']==0)].index) # 예측 상품 판매가 0원인 것은 예측에서 제외
df_preds=df_preds.reset_index(drop=True)

In [ ]:
# 예측 상품의 마더코드 리스트 생성

pred_code=[]
for code in df_preds['마더코드']:
  if code not in pred_code:
    pred_code.append(code)

pred_code.sort()

# [ 2019 판매 데이터 ]

In [ ]:
df_sales=pd.read_excel(sales_dir,header=1, na_values='NaN')

In [ ]:
del_idx = df_sales[df_sales['상품군']=='무형'].index
del_1 = df_sales.drop(del_idx)

In [ ]:
del_1

                     방송일시  노출(분)    마더코드  ...  상품군    판매단가          취급액
0     2019-01-01 06:00:00   20.0  100346  ...   의류   39900    2099000.0
1     2019-01-01 06:00:00    NaN  100346  ...   의류   39900    4371000.0
2     2019-01-01 06:20:00   20.0  100346  ...   의류   39900    3262000.0
3     2019-01-01 06:20:00    NaN  100346  ...   의류   39900    6955000.0
4     2019-01-01 06:40:00   20.0  100346  ...   의류   39900    6672000.0
...                   ...    ...     ...  ...  ...     ...          ...
38299 2019-12-31 23:40:00    NaN  100448  ...   주방  148000   10157000.0
38300 2020-01-01 00:00:00   20.0  100448  ...   주방  178000   50929000.0
38301 2020-01-01 00:00:00    NaN  100448  ...   주방  168000  104392000.0
38302 2020-01-01 00:00:00    NaN  100448  ...   주방  158000   13765000.0
38303 2020-01-01 00:00:00    NaN  100448  ...   주방  148000   46608000.0

[37372 rows x 8 columns]

In [ ]:
del_1.isnull().sum()

방송일시         0
노출(분)    16784
마더코드         0
상품코드         0
상품명          0
상품군          0
판매단가         0
취급액          0
dtype: int64

In [ ]:
sat_idx = pd.DataFrame(index = pd.date_range('2019-01-01','2020-01-01',freq='W-SAT'))

In [ ]:
test = sat_idx.resample('20T').sum() #20분 단위로 시계열 인덱스 생성
test

Empty DataFrame
Columns: []
Index: [2019-01-05 00:00:00, 2019-01-05 00:20:00, 2019-01-05 00:40:00, 2019-01-05 01:00:00, 2019-01-05 01:20:00, 2019-01-05 01:40:00, 2019-01-05 02:00:00, 2019-01-05 02:20:00, 2019-01-05 02:40:00, 2019-01-05 03:00:00, 2019-01-05 03:20:00, 2019-01-05 03:40:00, 2019-01-05 04:00:00, 2019-01-05 04:20:00, 2019-01-05 04:40:00, 2019-01-05 05:00:00, 2019-01-05 05:20:00, 2019-01-05 05:40:00, 2019-01-05 06:00:00, 2019-01-05 06:20:00, 2019-01-05 06:40:00, 2019-01-05 07:00:00, 2019-01-05 07:20:00, 2019-01-05 07:40:00, 2019-01-05 08:00:00, 2019-01-05 08:20:00, 2019-01-05 08:40:00, 2019-01-05 09:00:00, 2019-01-05 09:20:00, 2019-01-05 09:40:00, 2019-01-05 10:00:00, 2019-01-05 10:20:00, 2019-01-05 10:40:00, 2019-01-05 11:00:00, 2019-01-05 11:20:00, 2019-01-05 11:40:00, 2019-01-05 12:00:00, 2019-01-05 12:20:00, 2019-01-05 12:40:00, 2019-01-05 13:00:00, 2019-01-05 13:20:00, 2019-01-05 13:40:00, 2019-01-05 14:00:00, 2019-01-05 14:20:00, 2019-01-05 14:40:00, 2019-01-05 15:00:00, 2019-01-05 15:20:00, 2019-01-05 15:40:00, 2019-01-05 16:00:00, 2019-01-05 16:20:00, 2019-01-05 16:40:00, 2019-01-05 17:00:00, 2019-01-05 17:20:00, 2019-01-05 17:40:00, 2019-01-05 18:00:00, 2019-01-05 18:20:00, 2019-01-05 18:40:00, 2019-01-05 19:00:00, 2019-01-05 19:20:00, 2019-01-05 19:40:00, 2019-01-05 20:00:00, 2019-01-05 20:20:00, 2019-01-05 20:40:00, 2019-01-05 21:00:00, 2019-01-05 21:20:00, 2019-01-05 21:40:00, 2019-01-05 22:00:00, 2019-01-05 22:20:00, 2019-01-05 22:40:00, 2019-01-05 23:00:00, 2019-01-05 23:20:00, 2019-01-05 23:40:00, 2019-01-06 00:00:00, 2019-01-06 00:20:00, 2019-01-06 00:40:00, 2019-01-06 01:00:00, 2019-01-06 01:20:00, 2019-01-06 01:40:00, 2019-01-06 02:00:00, 2019-01-06 02:20:00, 2019-01-06 02:40:00, 2019-01-06 03:00:00, 2019-01-06 03:20:00, 2019-01-06 03:40:00, 2019-01-06 04:00:00, 2019-01-06 04:20:00, 2019-01-06 04:40:00, 2019-01-06 05:00:00, 2019-01-06 05:20:00, 2019-01-06 05:40:00, 2019-01-06 06:00:00, 2019-01-06 06:20:00, 2019-01-06 06:40:00, 2019-01-06 07:00:00, 2019-01-06 07:20:00, 2019-01-06 07:40:00, 2019-01-06 08:00:00, 2019-01-06 08:20:00, 2019-01-06 08:40:00, 2019-01-06 09:00:00, ...]

[25705 rows x 0 columns]

In [ ]:
test_list = []
for i in range(len(test)):
  test_list.append(test.iloc[i,:])

tmp = []
for i in test.index:

  if (i.hour == 18 and i.minute == 0):
    tmp.append(i)

idx_del_18 = test.drop(tmp)

In [ ]:
idx_del_18

Empty DataFrame
Columns: []
Index: [2019-01-05 00:00:00, 2019-01-05 00:20:00, 2019-01-05 00:40:00, 2019-01-05 01:00:00, 2019-01-05 01:20:00, 2019-01-05 01:40:00, 2019-01-05 02:00:00, 2019-01-05 02:20:00, 2019-01-05 02:40:00, 2019-01-05 03:00:00, 2019-01-05 03:20:00, 2019-01-05 03:40:00, 2019-01-05 04:00:00, 2019-01-05 04:20:00, 2019-01-05 04:40:00, 2019-01-05 05:00:00, 2019-01-05 05:20:00, 2019-01-05 05:40:00, 2019-01-05 06:00:00, 2019-01-05 06:20:00, 2019-01-05 06:40:00, 2019-01-05 07:00:00, 2019-01-05 07:20:00, 2019-01-05 07:40:00, 2019-01-05 08:00:00, 2019-01-05 08:20:00, 2019-01-05 08:40:00, 2019-01-05 09:00:00, 2019-01-05 09:20:00, 2019-01-05 09:40:00, 2019-01-05 10:00:00, 2019-01-05 10:20:00, 2019-01-05 10:40:00, 2019-01-05 11:00:00, 2019-01-05 11:20:00, 2019-01-05 11:40:00, 2019-01-05 12:00:00, 2019-01-05 12:20:00, 2019-01-05 12:40:00, 2019-01-05 13:00:00, 2019-01-05 13:20:00, 2019-01-05 13:40:00, 2019-01-05 14:00:00, 2019-01-05 14:20:00, 2019-01-05 14:40:00, 2019-01-05 15:00:00, 2019-01-05 15:20:00, 2019-01-05 15:40:00, 2019-01-05 16:00:00, 2019-01-05 16:20:00, 2019-01-05 16:40:00, 2019-01-05 17:00:00, 2019-01-05 17:20:00, 2019-01-05 17:40:00, 2019-01-05 18:20:00, 2019-01-05 18:40:00, 2019-01-05 19:00:00, 2019-01-05 19:20:00, 2019-01-05 19:40:00, 2019-01-05 20:00:00, 2019-01-05 20:20:00, 2019-01-05 20:40:00, 2019-01-05 21:00:00, 2019-01-05 21:20:00, 2019-01-05 21:40:00, 2019-01-05 22:00:00, 2019-01-05 22:20:00, 2019-01-05 22:40:00, 2019-01-05 23:00:00, 2019-01-05 23:20:00, 2019-01-05 23:40:00, 2019-01-06 00:00:00, 2019-01-06 00:20:00, 2019-01-06 00:40:00, 2019-01-06 01:00:00, 2019-01-06 01:20:00, 2019-01-06 01:40:00, 2019-01-06 02:00:00, 2019-01-06 02:20:00, 2019-01-06 02:40:00, 2019-01-06 03:00:00, 2019-01-06 03:20:00, 2019-01-06 03:40:00, 2019-01-06 04:00:00, 2019-01-06 04:20:00, 2019-01-06 04:40:00, 2019-01-06 05:00:00, 2019-01-06 05:20:00, 2019-01-06 05:40:00, 2019-01-06 06:00:00, 2019-01-06 06:20:00, 2019-01-06 06:40:00, 2019-01-06 07:00:00, 2019-01-06 07:20:00, 2019-01-06 07:40:00, 2019-01-06 08:00:00, 2019-01-06 08:20:00, 2019-01-06 08:40:00, 2019-01-06 09:00:00, 2019-01-06 09:20:00, ...]

[25348 rows x 0 columns]

In [ ]:
check=list(np.array(idx_del_18.index.tolist()))
perform = del_1[del_1['방송일시'].isin(check)]  # 토요일 18:00:00를 제외한 데이터 프레임 생성

In [ ]:
perform=perform.reset_index(drop=True)
perform

                     방송일시  노출(분)    마더코드  ...  상품군    판매단가         취급액
0     2019-01-05 00:00:00   20.0  100212  ...  이미용   49900  10874000.0
1     2019-01-05 00:20:00   20.0  100212  ...  이미용   49900  24142000.0
2     2019-01-05 00:40:00   20.0  100212  ...  이미용   49900  23462000.0
3     2019-01-05 01:00:00   20.0  100293  ...   잡화  129000  15067000.0
4     2019-01-05 01:00:00    NaN  100293  ...   잡화  139000   6857000.0
...                   ...    ...     ...  ...  ...     ...         ...
34358 2019-12-27 20:40:00   20.0  100323  ...  농수축   49900  59650000.0
34359 2019-12-27 21:00:00   20.0  100323  ...  농수축   49900  86862000.0
34360 2019-12-27 22:20:00   20.0  100074  ...  이미용   39800  40586000.0
34361 2019-12-27 22:40:00   20.0  100074  ...  이미용   39800  63687000.0
34362 2019-12-27 23:00:00   20.0  100074  ...  이미용   39800  90411000.0

[34363 rows x 8 columns]

In [ ]:
# 2019 판매 상품의 마더코드 리스트 생성

sales_code=[]
for code in perform['마더코드']:
  if code not in sales_code:
    sales_code.append(code)

sales_code.sort()

## [2019 판매/예측 마더코드의 비교→예측 데이터에서 과거 실적이 없는 상품들을 찾아낸다.]

In [ ]:
no_sales_code=[]  # 예측 데이터 기준: 과거 실적이 없는 마더코드 리스트
for pred in pred_code:
  if pred not in sales_code:
    no_sales_code.append(pred)

no_sales_code.sort()

In [ ]:
df_only_in_preds=pd.DataFrame()

for code in no_sales_code:
  code_preds=df_preds[(df_preds['마더코드']==code)]
  df_only_in_preds=pd.concat([df_only_in_preds,code_preds])

df_only_in_preds=df_only_in_preds.reset_index(drop=True)

In [ ]:
df_only_in_preds  # 과거 실적이 없는 예측 상품 데이터프레임

                    방송일시  노출(분)    마더코드  ...  상품군   판매단가 취급액
0    2020-06-25 08:20:00   20.0  100003  ...   주방  68000 NaN
1    2020-06-25 08:20:00    NaN  100003  ...   주방  98000 NaN
2    2020-06-25 08:40:00   20.0  100003  ...   주방  68000 NaN
3    2020-06-25 08:40:00    NaN  100003  ...   주방  98000 NaN
4    2020-06-25 09:00:00   20.0  100003  ...   주방  68000 NaN
...                  ...    ...     ...  ...  ...    ...  ..
1192 2020-06-11 11:20:00    NaN  100847  ...  농수축  32900 NaN
1193 2020-06-11 11:40:00   20.0  100847  ...  농수축  32900 NaN
1194 2020-06-11 11:40:00    NaN  100847  ...  농수축  32900 NaN
1195 2020-06-11 12:00:00   20.0  100847  ...  농수축  32900 NaN
1196 2020-06-11 12:00:00    NaN  100847  ...  농수축  32900 NaN

[1197 rows x 8 columns]



## [ 과거 실적이 없는 경우 분석 ]

* 예측 데이터 기준 과거 실적이 없는 경우 → 19년도 판매 데이터에 해당 제품의 마더 코드가 없음을 의미한다.

In [ ]:
df_only_in_preds

                    방송일시  노출(분)    마더코드  ...  상품군   판매단가 취급액
0    2020-06-25 08:20:00   20.0  100003  ...   주방  68000 NaN
1    2020-06-25 08:20:00    NaN  100003  ...   주방  98000 NaN
2    2020-06-25 08:40:00   20.0  100003  ...   주방  68000 NaN
3    2020-06-25 08:40:00    NaN  100003  ...   주방  98000 NaN
4    2020-06-25 09:00:00   20.0  100003  ...   주방  68000 NaN
...                  ...    ...     ...  ...  ...    ...  ..
1192 2020-06-11 11:20:00    NaN  100847  ...  농수축  32900 NaN
1193 2020-06-11 11:40:00   20.0  100847  ...  농수축  32900 NaN
1194 2020-06-11 11:40:00    NaN  100847  ...  농수축  32900 NaN
1195 2020-06-11 12:00:00   20.0  100847  ...  농수축  32900 NaN
1196 2020-06-11 12:00:00    NaN  100847  ...  농수축  32900 NaN

[1197 rows x 8 columns]

In [ ]:
product_group=df_preds['상품군'].unique()
product_group

array(['의류', '속옷', '이미용', '주방', '농수축', '가전', '생활용품', '가구', '잡화', '건강기능',
       '침구'], dtype=object)