<a href="https://colab.research.google.com/github/dohyeonkim2526/BigContest/blob/master/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
import numpy as np

In [4]:
performance = pd.read_excel('/content/drive/My Drive/2019_performance.xlsx')

In [5]:
performance

                     방송일시      노출(분)    마더코드  ...  상품군   판매단가        취급액
0     2019-01-01 06:00:00  20.000000  100346  ...   의류  39900  2099000.0
1     2019-01-01 06:00:00        NaN  100346  ...   의류  39900  4371000.0
2     2019-01-01 06:20:00  20.000000  100346  ...   의류  39900  3262000.0
3     2019-01-01 06:20:00        NaN  100346  ...   의류  39900  6955000.0
4     2019-01-01 06:40:00  20.000000  100346  ...   의류  39900  6672000.0
...                   ...        ...     ...  ...  ...    ...        ...
38304 2020-01-01 00:20:00  20.000000  100073  ...   무형      0        NaN
38305 2020-01-01 00:40:00  20.000000  100073  ...   무형      0        NaN
38306 2020-01-01 01:00:00  20.000000  100073  ...   무형      0        NaN
38307 2020-01-01 01:20:00  20.000000  100490  ...   무형      0        NaN
38308 2020-01-01 01:40:00  17.166667  100490  ...   무형      0        NaN

[38309 rows x 8 columns]

무형 카테고리 제거

In [6]:
del_idx = performance[performance['상품군']=='무형'].index
del_1 = performance.drop(del_idx)

In [7]:
del_1

                     방송일시  노출(분)    마더코드  ...  상품군    판매단가          취급액
0     2019-01-01 06:00:00   20.0  100346  ...   의류   39900    2099000.0
1     2019-01-01 06:00:00    NaN  100346  ...   의류   39900    4371000.0
2     2019-01-01 06:20:00   20.0  100346  ...   의류   39900    3262000.0
3     2019-01-01 06:20:00    NaN  100346  ...   의류   39900    6955000.0
4     2019-01-01 06:40:00   20.0  100346  ...   의류   39900    6672000.0
...                   ...    ...     ...  ...  ...     ...          ...
38299 2019-12-31 23:40:00    NaN  100448  ...   주방  148000   10157000.0
38300 2020-01-01 00:00:00   20.0  100448  ...   주방  178000   50929000.0
38301 2020-01-01 00:00:00    NaN  100448  ...   주방  168000  104392000.0
38302 2020-01-01 00:00:00    NaN  100448  ...   주방  158000   13765000.0
38303 2020-01-01 00:00:00    NaN  100448  ...   주방  148000   46608000.0

[37372 rows x 8 columns]

In [8]:
del_1.isnull().sum()

방송일시         0
노출(분)    16784
마더코드         0
상품코드         0
상품명          0
상품군          0
판매단가         0
취급액          0
dtype: int64

In [9]:
sat_idx = pd.DataFrame(index = pd.date_range('2019-01-01','2020-01-01',freq='W-SAT'))

20분 단위로 시계열 인덱스 생성

In [10]:
test = sat_idx.resample('20T').sum()
test

Empty DataFrame
Columns: []
Index: [2019-01-05 00:00:00, 2019-01-05 00:20:00, 2019-01-05 00:40:00, 2019-01-05 01:00:00, 2019-01-05 01:20:00, 2019-01-05 01:40:00, 2019-01-05 02:00:00, 2019-01-05 02:20:00, 2019-01-05 02:40:00, 2019-01-05 03:00:00, 2019-01-05 03:20:00, 2019-01-05 03:40:00, 2019-01-05 04:00:00, 2019-01-05 04:20:00, 2019-01-05 04:40:00, 2019-01-05 05:00:00, 2019-01-05 05:20:00, 2019-01-05 05:40:00, 2019-01-05 06:00:00, 2019-01-05 06:20:00, 2019-01-05 06:40:00, 2019-01-05 07:00:00, 2019-01-05 07:20:00, 2019-01-05 07:40:00, 2019-01-05 08:00:00, 2019-01-05 08:20:00, 2019-01-05 08:40:00, 2019-01-05 09:00:00, 2019-01-05 09:20:00, 2019-01-05 09:40:00, 2019-01-05 10:00:00, 2019-01-05 10:20:00, 2019-01-05 10:40:00, 2019-01-05 11:00:00, 2019-01-05 11:20:00, 2019-01-05 11:40:00, 2019-01-05 12:00:00, 2019-01-05 12:20:00, 2019-01-05 12:40:00, 2019-01-05 13:00:00, 2019-01-05 13:20:00, 2019-01-05 13:40:00, 2019-01-05 14:00:00, 2019-01-05 14:20:00, 2019-01-05 14:40:00, 2019-01-05 15:00:00, 2019-01-05 15:20:00, 2019-01-05 15:40:00, 2019-01-05 16:00:00, 2019-01-05 16:20:00, 2019-01-05 16:40:00, 2019-01-05 17:00:00, 2019-01-05 17:20:00, 2019-01-05 17:40:00, 2019-01-05 18:00:00, 2019-01-05 18:20:00, 2019-01-05 18:40:00, 2019-01-05 19:00:00, 2019-01-05 19:20:00, 2019-01-05 19:40:00, 2019-01-05 20:00:00, 2019-01-05 20:20:00, 2019-01-05 20:40:00, 2019-01-05 21:00:00, 2019-01-05 21:20:00, 2019-01-05 21:40:00, 2019-01-05 22:00:00, 2019-01-05 22:20:00, 2019-01-05 22:40:00, 2019-01-05 23:00:00, 2019-01-05 23:20:00, 2019-01-05 23:40:00, 2019-01-06 00:00:00, 2019-01-06 00:20:00, 2019-01-06 00:40:00, 2019-01-06 01:00:00, 2019-01-06 01:20:00, 2019-01-06 01:40:00, 2019-01-06 02:00:00, 2019-01-06 02:20:00, 2019-01-06 02:40:00, 2019-01-06 03:00:00, 2019-01-06 03:20:00, 2019-01-06 03:40:00, 2019-01-06 04:00:00, 2019-01-06 04:20:00, 2019-01-06 04:40:00, 2019-01-06 05:00:00, 2019-01-06 05:20:00, 2019-01-06 05:40:00, 2019-01-06 06:00:00, 2019-01-06 06:20:00, 2019-01-06 06:40:00, 2019-01-06 07:00:00, 2019-01-06 07:20:00, 2019-01-06 07:40:00, 2019-01-06 08:00:00, 2019-01-06 08:20:00, 2019-01-06 08:40:00, 2019-01-06 09:00:00, ...]

[25705 rows x 0 columns]

In [11]:
test_list = []
for i in range(len(test)):
  test_list.append(test.iloc[i,:])

In [12]:
test.index

DatetimeIndex(['2019-01-05 00:00:00', '2019-01-05 00:20:00',
               '2019-01-05 00:40:00', '2019-01-05 01:00:00',
               '2019-01-05 01:20:00', '2019-01-05 01:40:00',
               '2019-01-05 02:00:00', '2019-01-05 02:20:00',
               '2019-01-05 02:40:00', '2019-01-05 03:00:00',
               ...
               '2019-12-27 21:00:00', '2019-12-27 21:20:00',
               '2019-12-27 21:40:00', '2019-12-27 22:00:00',
               '2019-12-27 22:20:00', '2019-12-27 22:40:00',
               '2019-12-27 23:00:00', '2019-12-27 23:20:00',
               '2019-12-27 23:40:00', '2019-12-28 00:00:00'],
              dtype='datetime64[ns]', length=25705, freq='20T')

18:00:00의 인덱스 값 리스트 생성

In [13]:
tmp = []
for i in test.index:

  if (i.hour == 18 and i.minute == 0):
    tmp.append(i)

idx_del_18 = test.drop(tmp)

In [14]:
idx_del_18

Empty DataFrame
Columns: []
Index: [2019-01-05 00:00:00, 2019-01-05 00:20:00, 2019-01-05 00:40:00, 2019-01-05 01:00:00, 2019-01-05 01:20:00, 2019-01-05 01:40:00, 2019-01-05 02:00:00, 2019-01-05 02:20:00, 2019-01-05 02:40:00, 2019-01-05 03:00:00, 2019-01-05 03:20:00, 2019-01-05 03:40:00, 2019-01-05 04:00:00, 2019-01-05 04:20:00, 2019-01-05 04:40:00, 2019-01-05 05:00:00, 2019-01-05 05:20:00, 2019-01-05 05:40:00, 2019-01-05 06:00:00, 2019-01-05 06:20:00, 2019-01-05 06:40:00, 2019-01-05 07:00:00, 2019-01-05 07:20:00, 2019-01-05 07:40:00, 2019-01-05 08:00:00, 2019-01-05 08:20:00, 2019-01-05 08:40:00, 2019-01-05 09:00:00, 2019-01-05 09:20:00, 2019-01-05 09:40:00, 2019-01-05 10:00:00, 2019-01-05 10:20:00, 2019-01-05 10:40:00, 2019-01-05 11:00:00, 2019-01-05 11:20:00, 2019-01-05 11:40:00, 2019-01-05 12:00:00, 2019-01-05 12:20:00, 2019-01-05 12:40:00, 2019-01-05 13:00:00, 2019-01-05 13:20:00, 2019-01-05 13:40:00, 2019-01-05 14:00:00, 2019-01-05 14:20:00, 2019-01-05 14:40:00, 2019-01-05 15:00:00, 2019-01-05 15:20:00, 2019-01-05 15:40:00, 2019-01-05 16:00:00, 2019-01-05 16:20:00, 2019-01-05 16:40:00, 2019-01-05 17:00:00, 2019-01-05 17:20:00, 2019-01-05 17:40:00, 2019-01-05 18:20:00, 2019-01-05 18:40:00, 2019-01-05 19:00:00, 2019-01-05 19:20:00, 2019-01-05 19:40:00, 2019-01-05 20:00:00, 2019-01-05 20:20:00, 2019-01-05 20:40:00, 2019-01-05 21:00:00, 2019-01-05 21:20:00, 2019-01-05 21:40:00, 2019-01-05 22:00:00, 2019-01-05 22:20:00, 2019-01-05 22:40:00, 2019-01-05 23:00:00, 2019-01-05 23:20:00, 2019-01-05 23:40:00, 2019-01-06 00:00:00, 2019-01-06 00:20:00, 2019-01-06 00:40:00, 2019-01-06 01:00:00, 2019-01-06 01:20:00, 2019-01-06 01:40:00, 2019-01-06 02:00:00, 2019-01-06 02:20:00, 2019-01-06 02:40:00, 2019-01-06 03:00:00, 2019-01-06 03:20:00, 2019-01-06 03:40:00, 2019-01-06 04:00:00, 2019-01-06 04:20:00, 2019-01-06 04:40:00, 2019-01-06 05:00:00, 2019-01-06 05:20:00, 2019-01-06 05:40:00, 2019-01-06 06:00:00, 2019-01-06 06:20:00, 2019-01-06 06:40:00, 2019-01-06 07:00:00, 2019-01-06 07:20:00, 2019-01-06 07:40:00, 2019-01-06 08:00:00, 2019-01-06 08:20:00, 2019-01-06 08:40:00, 2019-01-06 09:00:00, 2019-01-06 09:20:00, ...]

[25348 rows x 0 columns]

In [21]:
perform = del_1[del_1['방송일시'].isin(check)]

In [18]:
check=list(np.array(idx_del_18.index.tolist()))

토요일 18:00:00를 제외한 데이터 프레임 생성

In [22]:
perform

                     방송일시  노출(분)    마더코드  ...  상품군    판매단가         취급액
342   2019-01-05 00:00:00   20.0  100212  ...  이미용   49900  10874000.0
343   2019-01-05 00:20:00   20.0  100212  ...  이미용   49900  24142000.0
344   2019-01-05 00:40:00   20.0  100212  ...  이미용   49900  23462000.0
345   2019-01-05 01:00:00   20.0  100293  ...   잡화  129000  15067000.0
346   2019-01-05 01:00:00    NaN  100293  ...   잡화  139000   6857000.0
...                   ...    ...     ...  ...  ...     ...         ...
37935 2019-12-27 20:40:00   20.0  100323  ...  농수축   49900  59650000.0
37936 2019-12-27 21:00:00   20.0  100323  ...  농수축   49900  86862000.0
37938 2019-12-27 22:20:00   20.0  100074  ...  이미용   39800  40586000.0
37939 2019-12-27 22:40:00   20.0  100074  ...  이미용   39800  63687000.0
37940 2019-12-27 23:00:00   20.0  100074  ...  이미용   39800  90411000.0

[34363 rows x 8 columns]